*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: var(--corFont);
}

:root{
    --corFont: black;

    --corFundo: #fcfcfc;
    /* #f0efee #FDFCF8 */
}

        /*  */


header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: var(--corFundo);
    background-image: url(imgTheuz/fundo.png);

    
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.103);
}

header a {
    position: relative;
    overflow: hidden;
    border: none;
    text-decoration: none;
    color: var(--corFont);
    font-size: 18px;
}
   
header a:after {
    content: " ";
    width: 0%;
    height: 5%;
    background: lightskyblue;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
    bottom: 0;
}

header a:hover::after {
    right: auto;
    left: 0;
    width: 100%;
    bottom: 0;
}

header img{
    width: 100px;
    cursor: pointer;
    background-image: url(imgTheuz/theuz.png);
}

header img:hover{
    transform: scale(0.97);
    transition: 0.3s;
}

        /*  */


main{
    width: 100%;
    margin: auto;

    background-color: #f0efee;
    /* background-image: url(img/bo\ rd\ \(2\).png); */
}

        /*  */


.inicio{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* margin: auto;    */

    /* background-image: url(img/bo\ rd\ \(3\).png); */

    /* background-color: beige; */
    box-shadow: 10px 5px 10px 10px rgba(0, 0, 0, 0.089);
}

.inicio h1{ 
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;

    text-align: center;
    letter-spacing: 4px;
}
        /*  */


article{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px auto;

}

/*  */
.produtos{
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 600px;
    width: 100%;
}

.block {
    position: absolute;
    top: 1;
    left: 1;
    width: 100%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.548);
    backdrop-filter: blur(1px);
    z-index: 1;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;  /* permite que os eventos de clique passem através do elemento bloqueado */
}

.block::after {
    content: "Em Breve";
    font-size: 40px;
    color:tomato;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.colorido{
    background-color: var(--corFundo);
    box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.158);
}

/*  */

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;

    margin-top: 100px;
}

.reverse{
    max-width: 50%;
}

.titulo{
    width: 600px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista{
    width: 600px;
}

.lista ul{
    list-style-type: disc;
}

.lista ul li{
    margin: 10px;
}

.produtos h2, .produtos li{
    animation: appear 1ms ease-in-out forwards;
    animation-timeline: view(); /* esse view faz com que ao chegar em um determinado height da tela a animação ocorra */
    animation-range: cover 0% cover 35%;
}

@keyframes show {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes appear {
        from{
            opacity: 0;
            translate: -100vw 0;
        }to{
            opacity: 1;
            translate: 0 0;
        }
}

.imagem-junta{
    animation: show 2s;
    animation-timeline: view(); /* esse view faz com que ao chegar em um determinado height da tela a animação ocorra */
    animation-range: cover 0% cover 30%;

    width: 90%;
    display: flex;
    justify-content: center;
    
    gap: 10px;
    margin: 80px 0;
}


.imagem-junta img{
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    cursor: pointer;
    object-fit: cover;
    object-position: top;
    border: 3px solid #dddd;
}

.imagem-teste{
    width: 200px;
    height: 200px;
}

.imagem-teste:hover{
    transform: scale(0.97);
    transition: 0.80s;
}


/* #imagem-maximizada {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow-y: auto;
    cursor: pointer;
    padding: 40px 0;
}
 */

/* #imagem-maximizada.maximized {
    display: flex;
}

#imagem-maximizada .maximized {
    max-width: 100%;
    max-height: 300%;
    object-fit: contain;
    display: block;
    margin: auto;
} */
#imagem-maximizada {
    display: none;
    position: fixed;
    top: 1;
    left: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#imagem-maximizada.maximized {
    display: block;
}

#imagem-maximizada .maximized {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}


/*  */

/* #imagem-maximizada img {
    max-width: 100%;
    max-height: 300%;
    object-fit: contain;
    display: block;
    margin: auto;
} */


/*  */
.contato{
    width: 90%;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    background-color: var(--corFundo);
}

.contato h2{
    text-align: center;
}

.contato strong{
    font-weight: bolder;
}

.formulario-theuz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.formulario-theuz form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="email"], #service{
    width: 49%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[name="obs"]{
    height: 180px;
    width: 100%;
}

button[type="submit"]{
    color: var(--corFundo);
    background-color: var(--corFont);
    font-size: 18px;
    padding: 10px;
    width: 50%;
    border: 1px solid #ccc;
    align-self: center;
    cursor: pointer;
}

button[type="submit"]:hover{
    transition: 0.8s;
    background-color: var(--corFundo);
    color: var(--corFont);
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: rgb(0, 0, 0);
}

footer p{
    color: white;
}


@media screen and (max-width: 780px) {

    header{
        gap: 40px;
    }

    header a{
        font-size: 14px;
    }

    header a:hover::after {
        right: auto;
        left: 0;
        width: 0%;
        bottom: 0;
    }

    /*  */    

    .titulo, .lista{
        width: 90%;
    }

    .lista{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lista ul li{
        width: 90%;
        margin: 5px auto;
    }

    .info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        width: 100%;
    }

    .reverse{
        flex-direction: column-reverse;
        max-width: none;
    }

    .imagem-junta{
        margin: 40px 0;
        width: 100%;
        height: 100%;
        /* overflow: hidden; */
        gap: 5px;
    }

    .imagem-junta > img{
        width: 80px;
        height: 80px;
    }

    .imagem-teste:hover{
        transform: scale(1);
    }
    /*  */  

    .inicio img{
        /* width: 340px; */
        width: 300px;
    }

    button[type="submit"]:hover{
        transition: 0;
        background-color: white;
        background: none;
    }

}

@media screen and (min-width: 780px) and (max-width: 1000px) {

    .imagem-junta > img{
        width: 150px;
        height: 150px;
    }

    button[type="submit"]:hover{
        transition: 0;
        background-color: white;
        background: none;
    }
}

/*  */

.alert-theuz {
    z-index: 1;
    position: absolute;
    top: 1;
    left: 1;
    right: 1;
    bottom: 1;
    padding: 40px;
    text-align: center;
    font-size: 20px;
}

.alert-theuz-success {
    color: #155724;
    background-color: #d4edda;
}

.alert-theuz-danger {
    color: var(--corFont);
    background-color: rgba(255, 99, 71, 0.842);
}